body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
   background-image: url("../images/indexbackground.jpg"); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
  
}
.logo {
  height: 100px;
  width: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adding a subtle shadow effect */
  border-radius: 10px; /* Adding rounded corners */
  transition: transform 0.3s ease; /* Adding a smooth transition effect */
}

/* Hover effect for the logo */
.logo:hover {
  transform: scale(1.1); /* Enlarging the logo on hover */
}
.div{
	width: 350px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
p {
  text-align: center;
  color: #333;
  font-size: 50px;
}

form {
  text-align: center;
  margin-bottom: 20px;
  
  
}
.logout-button {
    position: fixed;
    top: 20px; /* Adjust this value as needed */
    right: 20px; /* Adjust this value as needed */
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

